<style type="text/css">
<!--
.Estilo1 {
	font-weight: bold;
	color: #00CCFF;
}
body {
	background-image: url(fondo.PNG);
}
.Estilo2 {
	color: #66CCFF;
	font-weight: bold;
	font-style: italic;
}
.Estilo3 {color: #FFFFFF}
.Estilo4 {color: #CCCCCC}
.Estilo5 {font-weight: bold; color: #999999; }
.Estilo6 {font-weight: bold; color: #FFFFFF; }
-->
</style>